body{
    margin: 0;
    box-sizing: border-box;
    font-size: 17px;
}
img{
    max-width: 100%;
}
header{
    background-image: url(../images/dawn.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    padding: 0 5% 0 5%;
    color: white;
    background-color: rgba(0, 0, 0, 0.863);
    background-blend-mode: multiply;}


 .navbar{display:flex; 
justify-content: space-between;
align-items: center;}
nav ul li a{
color: white;
text-decoration: none;
font-size: 18px;
font-weight: 600;
padding: 0 0 0 20px;
text-transform: capitalize;

}
.logo{ color: white;
text-decoration: none;
display: inline-block;
font-size: 30px;
}
.logo h5{
    font-weight: 600;
    margin: 30px 0 30px 0;
}
nav ul li{
    display: inline-block;
}
h1{
font-size: 70px;
}
/* banner section */
.banner{
text-align: center;
padding: 50px 0 100px 0px ;
}
.banner h4{
    font-family:'Times New Roman', Times, serif;
    font-size: 40px;
    margin: 100px 0 20px 0;
}
.red-line{height: 6px;
width: 190px;
background: #d11818;
display: inline-block;
border-radius: 10px;}

.banner h1{
    font-family: 'Times New Roman', Times, serif;
}
.learn-btn{
    background: #d11818;
    border: 1px solid black;
    padding: 10px 30px 10px 30px;
    border-radius: 30px;
    font-size: 20px;
    color:white ;
    letter-spacing: 1px; 
    transition: all 0.3s linear;

}
.learn-btn:hover{
    background:  rgba(255, 0, 0, 0);;letter-spacing: 3px;}


/* upcoming event */
.event-container{
    text-align: center;
}
.items{
    display:flex;
    margin: 30px 0 0 0;
    padding: 50px 14%;
    text-align: center;
}
.event-item{
    width: 50%;
    margin: 20px;
}
.event-item img{
    height: 350px;
    width: 100%;
    border-radius: 15px;
    object-fit: cover;

}
.event-item h4{
    font-size: 20px;
    margin: 10px 0 0 0;
}
.event-item a{
    color: red;
    letter-spacing: 3px;
    text-decoration: none;
}
/* Explore the world */
.explore{
    background-image: url(../images/father.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5% 0 5%;
    color: white;
    background-color: rgb(88, 88, 177);
    background-blend-mode: multiply;
    padding: 50px;
    display: flex;
}
.explore-item{width:50%;
}
.explore-item a{}