html {
    scroll-behavior: smooth;
}
body{
    margin: 0;
    box-sizing: border-box;
    font-size: 17px;
}
img{
    max-width: 100%;
}
header{
    background-image: url(../images/dawn.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    padding: 0 5% 0 5%;
    color: white;
    background-color: rgba(54, 41, 41, 0.863);
    background-blend-mode: multiply;}


 .navbar{display:flex; 
justify-content: space-between;
align-items: center;
left: 5%;
background-color: transparent;
z-index: 1000;}
nav ul li a{
color: white;
text-decoration: none;
font-size: 18px;
font-weight: 600;
padding: 0 0 0 20px;
text-transform: capitalize;

}
.logo a{ color: white;
text-decoration: none;
display: inline-block;
font-size: 30px;
}
.logo h5{
    font-weight: 600;
    margin: 30px 0 30px 0;
}
nav ul li{
    display: inline-block;
}
h1{
font-size: 70px;
}
/* banner section */
.banner{
text-align: center;
padding: 50px 0 100px 0px ;
}
.banner h4{
    font-family:'Times New Roman', Times, serif;
    font-size: 40px;
    margin: 100px 0 20px 0;
}
.red-line{height: 6px;
width: 190px;
background: #d11818;
display: inline-block;
border-radius: 10px;}

.banner h1{
    font-family: 'Times New Roman', Times, serif;
}
.learn-btn{
    background: #d11818;
    border: 1px solid black;
    padding: 10px 30px 10px 30px;
    border-radius: 30px;
    font-size: 20px;
    color:white ;
    letter-spacing: 1px; 
    transition: all 0.3s linear;

}
.learn-btn:hover{
    background:  rgba(255, 0, 0, 0);;letter-spacing: 3px;}


/* upcoming event */
.event-container{
    text-align: center;
}
.items{
    display:flex;
    margin: 30px 0 0 0;
    padding: 50px 14%;
    text-align: center;
}
.event-item{
    width: 50%;
    margin: 20px;
}
.event-item img{
    height: 350px;
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
    box-shadow:  15px 16px 15px rgba(41, 36, 36, 0.4);

}
.event-item h4{
    font-size: 20px;
    margin: 40px 0 0 0;
}
.event-item a{
    color: red;
    font-size: 25px;
    letter-spacing: 3px;
    text-decoration: none;
}
/* Explore the world */
.explore{
    background-image: url(../images/father.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    /* display: flex;
    justify-content: space-between; */
    padding: 70px;
    color: white;
    background-color: rgb(126, 126, 235);
    background-blend-mode: multiply;
    padding: 10px 10px 20px 900px    ;
}
.explore-item{width:100%;
}
.explore-item a{margin: 30px 0 30px 0;
    color:white; text-decoration: none;
    font-size: 30px;
    font-family:'Times New Roman', Times, serif
}
.exlopre-item p{
    margin: 30px 0 30px 0;
}
.exlopre-item h1{
   
    /* margin: 400px 0 30px 500px; */
    }
    /* Upcoming tour section */
#tour{ padding: 5%}

    .tour-items{ display: flex;
    justify-content: space-between;}
    .tour-item h2{font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;}
.tour-item{
    width: 30%;
    padding: 15px;
}
.img-one{height: 300px;
object-fit: cover;
margin: 0 0 25px 0}
.img-two{height: 370px;
    object-fit: cover;
    margin: 0 0 25px 0}
/* footer */
footer{
    background-color: rgba(87, 63, 58, 0.973);
    color: white;
    padding: 100px;
    text-align: center;
}
/* media queries */
/* mobile device */
@media only screen and (max-width:670px){
    h1{
        font-size: 35px;
        }
    .red-line{height: 3px;
            width: 140px;
            }
            
             .navbar{display:block; }



            nav ul li a{
            
            font-size: 16px;
            font-weight: 500;
            padding: 0 0 0 15px;
            
            }
            .logo { 
                text-align: center;
            font-size: 18px;
            }
            .logo h5{
                font-weight: 600;
                margin: 25px 0 20px 0;
            }

            /* banner section */
            .banner{
            padding: 1px 0 50px 0px ;
            }
            .banner h4{
                font-size: 20px;
                margin: 140px 0 5px 0;
            }
            .red-line{height: 6px;
            width: 130px;
            }
            
            .banner h1{
                font-family: 'Times New Roman', Times, serif;
            }
            .learn-btn{
                padding: 7px 24px;
                
                font-size: 18px;
            
            }
            

}

/* tab landscape */
@media screen and (min-width:669px) and (max-width:768px) {
    h1{
        font-size: 40px;
        }
    .red-line{height: 4px;
            width: 150px;
            }
            
             .navbar{display:block; }
            nav ul li a{
            
            font-size: 16px;
            font-weight: 500;
            padding: 0 0 0 15px;
            
            }
            .logo { 
                text-align: center;
            font-size: 18px;
            }
            .logo h5{
                font-weight: 600;
                margin: 25px 0 20px 0;
            }

            /* banner section */
            .banner{
            padding: 1px 0 50px 0px ;
            }
            .banner h4{
                font-size: 20px;
                margin: 140px 0 5px 0;
            }
            .red-line{height: 6px;
            width: 130px;
            }
            
            .banner h1{
                font-family: 'Times New Roman', Times, serif;
            }
            .learn-btn{
                padding: 10px 24px;
                
                font-size: 18px;
            
            }
            

}
@media screen and (min-width:769px) and (max-width:992px) {
    h1{
        font-size: 60px;
    }
    
    .banner h4{
        font-size: 20px;
        margin: 140px 0 5px 0;
    }
    .learn-btn{
        padding: 12px 24px;
        
        font-size: 28px;
    
    }
}